<h1>Editing character info</h1>

<%= render "form", character_info: @character_info %>

<br>

<div>
  <%= link_to "Show this character info", @character_info %> |
  <%= link_to "Back to character infos", character_infos_path %>
</div>
