<div id="<%= dom_id character %>">
  <p>
    <strong>User:</strong>
    <%= character.user_id %>
  </p>

  <p>
    <strong>Is alive:</strong>
    <%= character.is_alive %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= character.status %>
  </p>

</div>
