<h1>Editing adventure event</h1>

<%= render "form", adventure_event: @adventure_event %>

<br>

<div>
  <%= link_to "Show this adventure event", @adventure_event %> |
  <%= link_to "Back to adventure events", adventure_events_path %>
</div>
