<div id="<%= dom_id character_inventory %>">
  <p>
    <strong>Character:</strong>
    <%= character_inventory.character_id %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= character_inventory.money %>
  </p>

</div>
