<h1>Editing character inventory</h1>

<%= render "form", character_inventory: @character_inventory %>

<br>

<div>
  <%= link_to "Show this character inventory", @character_inventory %> |
  <%= link_to "Back to character inventories", character_inventories_path %>
</div>
